
<section class="lightbox ">
  <div class="modal-lightbox">

      <span class="Anticore-close-lb close-cursor cursor" >&times;</span>
      <div class="modal-lightbox-content lb_del">
          <h1>Effacement de l'évènement <%= body.id %></h1>
            <% if (body) { %>

                <div class="btn-group" role="group" aria-label="Third group">
                    <a role="button" href="/events/archive/<%= body.id %>?confirmation=1" class="btn btn-outline-secondary" title="Supprimer l'évènement.">Supprimer l'évènement.</a>
                    <span role="button" class="btn btn-danger Anticore-close-lb" title="Annuler">Annuler</span>
                </div>

            <% } else { %>
                <p class="text-center">Evènement non trouvé.</p>
            <% } %>
      </div>
  </div>

</section>
