<%- include('../partials/header.ejs') %>

    <main>

          <% if (errors !== "") {%>
          <div class="alert alert-danger" role="alert"> <%= errors %></div>
          <% } %>

          <div class="text-center">
            <img src="/assets/img/500.png"  alt="erreur 400">
            <h1>Erreur 400 : bad request</h1>
            <div>Le serveur ne peut pas comprendre la requête en raison d'une syntaxe invalide. Ne pas répéter la requête sans modification.</div>
            </br>
            <div class="alert alert-info" role="alert">
              Tentative de rafraichissement automatique dans : <em id="refresh-delay">5</em> s <a href="/" class="alert-link redirect">Cliquer pour revenir à l'acceuil maintenant.</a>.
            </div>
          </div>


    </main>

<%- include('../partials/footer.ejs') %>
