<%- include('../partials/header.ejs') %>

<% if (xhr=== true && torefresh === true) {%>
  <meta http-equiv="refresh" content="5;URL=/" >
<% } %>

<main>
    
          <% if (errors !== "") {%>
          <div class="alert alert-danger" role="alert"> <%= errors %></div>
          <% } %>
    
          <div class="text-center">
            <img src="/assets/img/500.jpg"  alt="erreur 422">
            <h1>Erreur 422 : unprocessable entity</h1>
            <div>La requête est correcte et le serveur l'a comprise mais il n'a pas été en mesure de réaliser les instructions demandées.</div>  
            </br>
            <div class="alert alert-info" role="alert">
              Tentative de rafraichissement automatique dans : <em id="refresh-delay">5</em> s <a href="/" class="alert-link redirect">Cliquer pour revenir à l'acceuil maintenant.</a>.
            </div>
          </div>
    
                                       
</main>

<%- include('../partials/footer.ejs') %>