<%- include('./partials/header.ejs') %>


<main class="calendar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><h1><%= title %></h1></li>
    </ol>
  </nav>

Ceci est l'accueil de TaTa !

</main>




<%- include('./partials/footer.ejs') %>
